<!-- fragments/menu.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/menu.css"> <!-- Подключаем стили для кнопок -->
</head>
<body>
<div th:fragment="menu">
  <div class="menu-container">
    <div class="menu-buttons">
      <button th:each="button : ${buttons}"
              class="menu-button"
              th:text="${button.label}"
              th:attr="onclick=|window.location.href='${button.uri}'|"></button>
    </div>
  </div>
</div>
</body>
</html>