.eq-wrapper {
    display: flex;
    justify-content: center; /* Центрируем эквалайзер */
    align-items: center;
    flex-direction: column;
    height: 70vh; /* Высота для эквалайзера */
}

.menu-wrapper {
    display: flex;
    justify-content: center; /* Центрируем меню */
    margin-top: 20px;
}
