<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{spring.application.name}">Your Live Sound</title>
    <link rel="stylesheet" th:href="@{/css/styles-about.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- Hero Section -->
<header class="hero-section">
    <div class="hero-content">
        <img th:src="@{/images/title.jpg}" alt="Dmitrii Postnykh" class="hero-image">
        <h1>Dmitrii Postnykh</h1>
        <p class="quote" th:text="${quote}"></p>
    </div>
</header>
<!-- About Me Section -->
<section class="about-section fade-in" id="about">
    <h2>About Me</h2>
    <p>
        More than 25 years ago, I consciously chose the direction of sound engineering.
        Over the years of my career, working with famous musicians, artists, production
        centers, theaters, recording studios, I have accumulated a lot of knowledge and
        experience. I cannot highlight any one direction that interests me most.
        They are all multifaceted and interesting in their own way. To create high-quality
        sound, you need to understand and know many important disciplines, such as physics,
        music theory, harmony and rhythm, mathematics, psychoacoustics, electronics
        and engineering, modern technologies. Quite a lot, agree, but this is only the tip
        of the iceberg. In addition to all this, you need to have talent, hearing, patience,
        stress resistance, the ability to work with people, and a lot of experimenting,
        comparing, and most importantly, being pleased with the efforts invested!
    </p>
    <p>My goal is simply to create an atmosphere that will not leave any listener indifferent.</p>
</section>

<!-- Services Section -->
<section class="services-section fade-in" id="services">
    <h2>Services</h2>
    <div class="services-list">
        <div class="service service-left">
            <img th:src="@{/images/consult.png}" alt="Your Photo" class="service-image">
            <h3>Consultations and Equipment Setup</h3>
            <ul class="services-ul">
                <li>Selection of sound equipment suitable for various rooms and open-air venues.</li>
                <li>Consultation on optimizing equipment performance for stable and high-quality sound.</li>
                <li>Technical support and recommendations for setting up the sound system for your event.</li>
            </ul>
        </div>
        <div class="service service-right">
            <img th:src="@{/images/concertwork.png}" alt="Your Photo" class="service-image">
            <h3>Concert Work</h3>
            <ul class="services-ul">
                <li>Professional setup of sound equipment for musical performances. FOH System, Monitors System, IEM System, PA System, RF System, Recording System.</li>
                <li>Support and optimization of sound in real-time at events and shows.</li>
                <li>Preparation for long trips, tours, and tours. Compiling Rider List, Input-Output List, Stage Plan, calculating sound pressure and loads, ensuring stable sound quality at every stage.</li>
            </ul>
        </div>
        <div class="service service-left">
            <img th:src="@{/images/masterclass.jpeg}" alt="Your Photo" class="service-image">
            <h3>Master Classes for Bands</h3>
            <ul class="services-ul">
                <li>Consultation on the overall sound of the team.</li>
                <li>Solving various problems at live concerts.</li>
                <li>Qualified correction at the rehearsal stage.</li>
            </ul>
        </div>
        <div class="service service-right">
            <img th:src="@{/images/studio.png}" alt="Your Photo" class="service-image">
            <h3>Studio Work</h3>
            <ul class="services-ul">
                <li>Mixing and mastering of recorded material.</li>
                <li>Creating noise paintings and sound design for films, TV shows, and television programs.</li>
                <li>Editing narrators' voices and processing audio for podcasts and audio projects.</li>
                <li>Writing a custom song, including the entire cycle from creating the music to final production.</li>
            </ul>
        </div>
    </div>
</section>
<!-- Testimonials Section
<section class="testimonials-section fade-in" id="testimonials_of">
    <h2>Testimonials</h2>
    <blockquote>
        <p>“Working with Dmitrii was an excellent experience! His professionalism and attention to detail are simply impressive.”</p>
        <cite>— Client</cite>
    </blockquote>
</section>-->
<!-- Contact Section -->
<section class="contact-section fade-in" id="contact">
    <h2>Contact</h2>
    <!-- form_1 -->
    <div class="menu-wrapper">
        <div th:replace="~{fragments/form_1 :: form_1}"></div>
    </div>
</section>
<!-- Menu -->
<section class="services-section fade-in" id="menu">
    <div class="menu-wrapper">
        <div th:replace="~{fragments/menu :: menu}"></div>
    </div>
</section>
<footer class="footer">
    <p>&copy; 2024 Dmitrii Postnykh. All rights reserved.</p>
    <div class="social-icons">
        <a href="#">Instagram</a> |
        <a href="#">Facebook</a> |
        <a href="#">YouTube</a>
    </div>
</footer>
<script src="/js/scripts.js"></script>
<script src="/js/about.js"></script>
<script src="/js/menu.js" defer></script>
</body>
</html>