<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{spring.application.name}">Your Live Sound</title>  <link rel="stylesheet" th:href="@{/css/styles-wrap.css}">
  <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
<!-- Включение фрагмента header -->
<!-- Меню -->
<section class="services-section fade-in" id="menu">
  <div class="menu-wrapper">
    <div th:replace="~{fragments/menu :: menu}"></div>
  </div>
</section>
<script src="/js/menu.js" defer></script>
</body>
</html>