<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Live Sound</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Основные стили -->
    <link rel="stylesheet" href="/css/enter.css"> <!-- Стили для кнопки входа -->
    <link rel="stylesheet" href="/css/eq_main.css"><!-- Подключаем JavaScript -->
</head>
<body>
<div th:replace="fragments/eq_main :: eq_main"></div> <!-- Эквалайзер -->
<br>
<div th:replace="fragments/enter :: enter"></div> <!-- Кнопка входа -->
</body>
</html>

